SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,72.60.175.200
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://72.60.175.200,http://72.60.175.200:4200

DB_NAME=semillero_transporte
DB_USER=semillero_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5431

# Opcional: usar si el servidor necesita rutas explicitas para librerias GIS.
GDAL_LIBRARY_PATH=
GEOS_LIBRARY_PATH=
